*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;


}
body{
    height: 200vh;
    width: 100vw;
}

header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(0, 89, 118);
   padding: 10px;
   border-radius: 5px;
   background-color:  rgb(0, 89, 118);
 
   
}

h1{
    color:  rgb(0, 89, 118);
    font-size: 50px;
    text-align: center;

}
.h2{
    color:  rgb(0, 89, 118);
    text-align: center;
    font-size: 30px;

}
.paragraph{
    color: rgb(104, 104, 104);

}
.container{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.para{
    width: 45%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 40px;
    height: auto;
}
.section1 {
   height: 100vh;
   width: 100%;
}
form{
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

}
span{
    text-align: center;
}
.con1{
    height: 800px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 90px;
     padding-top: 100px;
     border-radius: 15px;  
 
}
.ticket{
    height: 220px;
    width: 80%;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.images{
    height: 125px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.con2{
    height: 55px;
    width: 100%;
    display: flex;
    
}
.con3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 150px;
    border: 2px solid rgb(0, 89, 118);
    margin-right: 100px;
}
.div2{
    width: 50%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div3{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plane{
height: 10px;
width: 10px;
position: relative;
top: 2px;
}
.user{
    height: 40px;
    width: 40px;
}
.offre{
    height: 80px;
    width: 80px;
}
.res{
    height: 100px;
    width: 200px;
    background-color: rgb(179, 244, 255);
    border-radius: 10px;
}

.session2{
    height: 1000px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);


}
.payment{
    background-color:  rgb(0, 89, 118);
    height: 1000px;
    width: 50%;

}
.ticket-info{
    height: 1000px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con4{
    height: 900px;
    width: 50%;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    padding-left: 10px;
}
.span1{
position: relative;
left: 10%;
}
.icon{
    height: 40px;
    width: 40px;
}
.div5{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.para2{
   display: inline;
}
.inline{
    display: inline;
}
#container2{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.div6{
    height: 100px;
    width: 50%;
}
.div7{
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10px;
}
.bagague{
 margin-left: 10px;    
}
.link2{
    color:  rgb(0, 89, 118);
    border: none;
    text-decoration: solid;
    background-color: none;
}


